.DS_Store
*.swp
*.swo
*.aux
*.log
main-qrot.pdf
*.blg
*.toc
*.axp
*.out
*.bbl
*.loc
*.soc
main-qrotb.synctex.gz
main-qrotb.fls
.aider*
cryptobib/
*.fdb_latexmk
*.fls
*.synctex.gz
main-qrot.bcf
main-qrot.run.xml
